/*Mobile*/
@media (max-width: 767px) {
    .logo img {
        width: 80px;
    }
    .logo{
        position: relative;
        padding-right: 50px;
    }

    .header__navbar {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
         justify-content: left;
    }

    .header__navbar-list {
       display: none;
        padding-right: 0;
    }
    .header__navbar-list li{
        display: none;
    }
    .header__navbar-search{
        gap: 0;
    }
    .list-search__img img {
        width: 30px;
    }
    .list-search__actor-item {
        gap: 10px;
        margin-top: 18px;
    }
    .actor-item {
        width: 90px;
    }
    .actor-item a {
        display: flex;
        gap: 3px;
        font-size: 9px;
    }

    .profile{
        position: relative;
    }

    .list-profile {
        width: 120px;
        left: -135px;
        top: 60px;
    }
    .list-profile a {
        font-size: 13px;
    }
    .list-search__banner img {
        width: 30px;
    }
    .list-search__img {
        gap: 10px;
    }
    .list-search__banner {
        margin: -85px 0 0 -75px;
    }
    .list-search__actor h3 {
        font-size: 13px;
    }
    .navbar-search__category-title span {
        font-size: 13px;
    }
    .navbar-search__category {
        margin-top: 15px;
    }
    .navbar-search__slider {
        margin-top: 50px;
    }

    .header__navbar-list li a {
        font-size: 15px;
    }

    .header__navbar-action {
        margin-top: -20px;
        gap: 5px;
        margin-left: 90px;
        position: relative;
    }
    .btn_icon, .btn-pay{
        margin-top: 25px;
    }
    .btn-pay{
        width: 85px;
    }
    .btn_icon img {
        height: 15px;
    }
    .notification{
        display: none;
    }

    .select-menu__language {
        position: absolute;
        display: inline-block;
        top: 50px;
        left: -210px;
    }
    .option-text__language {
        font-size: 13px;
        color: #ACACAC;
    }
    .options__language{
        width: 115px;
    }
    .sBtn-text__language {
        font-size: 11px;
    }
    .select-btn__language {
        border-radius: 5px;
        height: 25px;
    }
    .btn-language__img1 {
        height: 17px;
    }
    .btn-language__img2 {
        height: 10px;
    }

    .btn-profile img {
        height: 20px;
    }
    .btn-list{
        position: absolute;
        display: flex;
        top: 30px;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }
    .btn-list img{
        height: 25px;
    }
    .show-input input {
        margin-top: 23px;
        width: 50px;
        height: 25px;
        font-size: 11px;
        color: #ffffff;
    }
    .show-input{
        padding-right: 0;
        height: 20px;
        border: none;
    }

    .header__navbar-manager {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 7px;
        margin-top: -25px;
        position: relative;
    }

    .btn-pay {
        height: 25px;
        width: 57px;
        font-size: 8px;
    }

    .btn-link {
        height: 46px;
        padding: 10px;
        gap: 3px;
    }

    .tranding-slide__header {
        width: 180px;
        height: 300px;
        margin: 10px;
    }

    .tranding-slide__header .tranding-slide-img img {
        width: 200px;
        height: 310px;
    }

    .tranding-slide__weekly-top {
        width: 100px;
        height: 150px;
        margin: 15px;
    }

    .weekly-top__count {
        font-size: 70px;
        top: 50px;
        left: 40px;
    }

    .tranding-slide__weekly-top .tranding-slide-img img {
        width: 100px;
        height: 150px;
        border-radius: 10px;
    }

    .tranding-slider-control__header .swiper-button-prev {
        margin-left: 15px;
    }

    .tranding-slider-control__header .swiper-button-next {
        margin-right: 15px;
    }

    .continue-watching__title span,
    .list-movie__title span,
    .list-series__title span,
    .list-cartoon__title span,
    .weekly-top__title span {
        font-size: 15px;
    }

    .tranding-slide__movie {
        width: 100px;
        height: 150px;
        margin: 10px;
        border-radius: 10px;
    }

    .tranding-slide__movie .tranding-slide-img img {
        width: 100px;
        height: 150px;
        border-radius: 1rem;
    }

    .show-movie {
        top: 25px;
        left: 7px;
        height: 100px;
        width: 85px;
    }

    .btn__watch-now {
        top: 75px;
        left: 8px;
        height: 20px;
        width: 70px;
    }
    .btn__watch-now p {
        font-size: 6px;
    }

    .name-movie {
        width: 45px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }
    .year-movie span, .director-movie span, .point-movie span {
        font-size: 7px;
    }
    .year-movie{
        top: 20px;
    }
    .director-movie{
        top: 30px;
    }
    .point-movie{
        top: 40px;
    }
    .year-movie , .director-movie , .point-movie  {
        font-size: 5px;
    }

    .list-action__mobile {
        width: 65%;
        margin-left: 17.5%;
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
    }

    .list-action {
        display: none;
    }

    .continue-watching ,.list-movie, .list-series, .suggest, .list-cartoon, .banner-footer{
        margin-top: 30px;
        width: 90%;
        margin-left: 5%;
    }

    .tranding-slide__continue {
        width: 300px;
        height: 185px;
        border-radius: 20px;
    }
    .weekly-top__slider {
        margin-top: 25px;
    }

    .tranding-slide__continue .tranding-slide-img img {
        width: 300px;
        height: 185px;
        border-radius: 10px;
    }

    .tranding-slide__continue-action {
        top: 70px;
        left: 75px;
    }

    .btn-link {
        height: 40px;
        padding: 10px;
        gap: 3px;
    }

    .btn-link img {
        height: 12px;
    }

    .btn-link span {
        font-size: 10px;
    }

    .suggest-content__title {
        margin: 10px 0 0 10px;
    }

    .suggest-content__action {
        margin: 50px 0 0 10px;
        gap: 5px;
    }

    .suggest-content__title p {
        font-size: 13px;
    }

    .suggest-img {
        gap: 5px;
    }

    .btn-mood span, .btn-somebody span {
        font-size: 6px;
        color: #C1C1C1;
    }

    .select-btn__mood span, .select-btn__somebody span {
        gap: 5px;
    }

    .select-menu__mood .select-btn__mood, .select-menu__somebody .select-btn__somebody {
        border-radius: 5px;
        height: 25px;
        width: auto;
        padding: 2px 5px 2px 5px;
        font-size: 8px;
    }
    .select-menu__mood .options__mood .option__mood .option-text__mood {
        font-size: 13px;
    }
    .select-menu__somebody .options__somebody .option__somebody .option-text__somebody {
        font-size: 13px;
        color: #ACACAC;
    }
    .select-menu__mood .options__mood {
        width: 120px;
    }

    .select-menu__somebody .options__somebody {
        width: 85px;
    }

    .btn-mood span, .btn-somebody span {
        font-size: 11px;
        color: #C1C1C1;
    }
    .select-menu__mood .options__mood .option__mood, .select-menu__somebody .options__somebody .option__somebody{
        height: 35px;
    }


    .btn-img__before {
        height: 10px;
    }

    .btn-img__after {
        height: 6px;
    }

    .suggest-img__item1 {
        height: 85px;
        background-position: 0 -5px;
    }

    .suggest-img__item3 {
        margin-top: 0;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .suggest-img__item2 {
        height: 70px;
        background-position: 0 -15px;
    }

    .suggest-img__item4 {
        margin-top: 0;
        width: 100%;
        height: 65px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .footer {
        margin-top: 70px;
        padding-bottom: 30px;
    }

    .footer__list-link {
        gap: 30px;
        flex-wrap: wrap;
        width: 80%;
    }

    .footer__list-link li a {
        font-size: 10px;
    }

    .social img {
        height: 20px;
    }

    .btn-footer__detail {
        width: 130px;
        height: 45px;
    }

    .btn-footer__detail img {
        height: 30px;
    }

    .footer__detail-title p {
        font-size: 10px;
    }

    .footer__detail-title span {
        font-size: 13px;
    }

    .footer__nation {
        margin-top: 40px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 22%;
    }
    .footer__nation .select-language{
        display: block;
    }

    .footer__nation-address span {
        font-size: 10px;
    }
    .footer__nation-address img{
        height: 20px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 15px;
        text-transform: none!important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
    }
    .tranding-slider-control__header .slider-arrow {
        width: 35px;
        height: 45px;
        border-radius: 5px;
    }
    .tranding-slider-control__continue .slider-arrow {
        width: 30px;
        height: 35px;
    }
    .select-btn__language_footer {
        font-size: 13px;
        height: 30px;
        border-radius: 5px;
    }
    .option-text__language_footer {
        font-size: 13px;
    }
    .options__language_footer {
        width: 110px;
    }

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .logo img {
        width: 80px;
    }

    .header__navbar-list {
        gap: 20px;
        padding-right: 0;
    }

    .navbar-search__slider {
        margin-top: 30px;
    }

    .header__navbar-list li a {
        font-size: 15px;
    }

    .header__navbar-action {
        gap: 20px;
    }
    .show-input input{
        width: 200px;
    }
    .list-search__banner {
        margin: -130px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 2px;
        grid-area: banner;
    }
    .list-search__banner img {
        width: 75px;
    }
    .list-search__img {
        gap: 10px;
    }
    .option-text__language {
        font-size: 13px;
        color: #ACACAC;
    }
    .options__language{
        width: 115px;
    }
    .sBtn-text__language {
        font-size: 11px;
    }
    .select-btn__language {
        border-radius: 5px;
        height: 25px;
    }
    .btn-language__img1 {
        height: 17px;
    }
    .btn-language__img2 {
        height: 10px;
    }

    .btn-profile img {
        height: 20px;
    }

    .header__navbar-action {
        gap: 5px;
    }
    .header__navbar-search {
        gap: 0;
    }

    .header__navbar-manager {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-left: 7px;
    }

    .btn-pay {
        height: 25px;
        width: 100px;
        font-size: 12px;
    }

    .btn-link {
        height: 46px;
        padding: 10px;
        gap: 3px;
    }
    .list-notification {
        left: -170px;
    }
    .list-profile {
        width: 120px;
        left: -135px;
    }
    .list-profile a {
        font-size: 13px;
    }

    .tranding-slide__header {
        width: 180px;
        height: 300px;
        margin: 10px;
    }

    .tranding-slide__header .tranding-slide-img img {
        width: 200px;
        height: 310px;
    }

    .tranding-slide__weekly-top {
        width: 150px;
        height: 250px;
        margin: 20px;
    }

    .weekly-top__count {
        font-size: 110px;
        top: 100px;
        left: 80px;
    }

    .show-movie {
        top: 45px;
        left: 12px;
        height: 150px;
        width: 125px;
    }

    .btn__watch-now {
        top: 110px;
        left: 20px;
        height: 30px;
        width: 85px;
    }
    .btn__watch-now p {
        font-size: 8px;
    }

    .name-movie {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tranding-slide__weekly-top .tranding-slide-img img {
        width: 150px;
        height: 250px;
        border-radius: 10px;
    }

    .tranding-slider-control__header .swiper-button-prev {
        margin-left: 15px;
    }

    .tranding-slider-control__header .swiper-button-next {
        margin-right: 15px;
    }

    .continue-watching__title span,
    .list-movie__title span,
    .list-series__title span,
    .list-cartoon__title span,
    .weekly-top__title span {
        font-size: 22px;
    }

    .tranding-slide__movie {
        width: 150px;
        height: 230px;
        margin: 20px;
        border-radius: 10px;
    }

    .tranding-slide__movie .tranding-slide-img img {
        width: 150px;
        height: 230px;
        border-radius: 1.5rem;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 25px;
    }

    .list-action {
        margin-top: 20px;
        gap: 5px;
    }
    .btn-link span {
        font-size: 12px;
    }


    .continue-watching {
        margin-top: 40px;
    }

    .btn-link {
        height: 40px;
        width: 75px;
        gap: 5px;
    }

    .btn-link img {
        height: 15px;
    }

    .suggest-content__action {
        margin: 80px 0 0 20px;
        gap: 10px;
    }

    .suggest-content__title {
        margin: 20px 0 0 20px;
    }

    .suggest-content__title p {
        font-size: 20px;
    }

    .select-btn__mood span, .select-btn__somebody span {
        gap: 5px;
    }

    .select-menu__mood .select-btn__mood, .select-menu__somebody .select-btn__somebody {
        border-radius: 5px;
        height: 25px;
        width: auto;
        padding: 5px 10px 5px 10px;
        font-size: 13px;
    }
    .select-menu__mood .options__mood .option__mood .option-text__mood {
        font-size: 13px;
    }
    .select-menu__somebody .options__somebody .option__somebody .option-text__somebody {
        font-size: 13px;
        color: #ACACAC;
    }
    .select-menu__mood .options__mood {
        width: 130px;
    }

    .select-menu__somebody .options__somebody {
        width: 145px;
    }

    .btn-mood span, .btn-somebody span {
        font-size: 11px;
        color: #C1C1C1;
    }
    .select-menu__mood .options__mood .option__mood, .select-menu__somebody .options__somebody .option__somebody{
        height: 40px;
    }


    .btn-img__before {
        height: 20px;
    }

    .btn-img__after {
        height: 6px;
    }

    .suggest-img__item1 {
        height: 125px;
    }

    .suggest-img__item3 {
        margin-top: 5px;
        height: 70px;
    }

    .suggest-img__item2 {
        height: 100px;
        background-position: 0 -40px;
    }

    .suggest-img__item4 {
        margin-top: 10px;
        width: 100%;
        height: 87px;
    }

    .footer {
        margin-top: 70px;
        padding-bottom: 30px;
    }

    .footer__list-link {
        gap: 30px;
    }

    .footer__list-link li a {
        font-size: 10px;
    }

    .social img {
        height: 20px;
    }

    .btn-footer__detail {
        width: 130px;
        height: 45px;
    }

    .btn-footer__detail img {
        height: 30px;
    }

    .footer__detail-title p {
        font-size: 10px;
    }

    .footer__detail-title span {
        font-size: 13px;
    }

    .footer__nation {
        margin-top: 40px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 55%;
    }
    .select-btn__language_footer {
        font-size: 13px;
    }
    .option-text__language_footer {
         font-size: 13px;
    }
    .options__language_footer {
        width: 110px;
    }

    .footer__nation-address span {
        font-size: 10px;
    }
    .footer__nation-address img{
        height: 20px;
    }
}

/*Pc*/